// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.
// File name: projects/07/MemoryAccess/BasicTest/BasicTest.vm

// Executes pop and push commands using the virtual memory segments.
push constant 10 257
pop local 0  256
push constant 21 257
push constant 22 258
pop argument 2 257
pop argument 1 256
push constant 36 257
pop this 6 256
push constant 42 257
push constant 45 258
pop that 5 257
pop that 2 256
push constant 510 257
pop temp 6 256
push local 0 257
push that 5 258
add 257
push argument 1 258
sub 257
push this 6 258
add 257
sub 256
push temp 6 257
add 256
